#forgetpassword {

    height: 1000px;
}

#FPcontent {
    position: relative;
    left: 500px;
    top: 100px;
    text-align: center;
    height: 500px;
    width: 450px;
    border-radius: 10px;
    border: solid rgba(107, 107, 107, 0.35) 1px;
}

#FPcontent button {
    position: relative;
    bottom: 50px;
    left: 0px;
    height: 50px;
    width: 300px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    background-color: #05a1a8;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}

#FPcontent #newpassword {
    height: 30px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin: 6px 0;
    padding: 14px;
}

@media (max-width:1118px) {
    #FPcontent {
        left: 300px;
    }
}

@media (max-width:944px) {
    #FPcontent {
        left: 190px;
    }
}

@media (max-width:860px) {
    #FPcontent {
        left: 150px;
    }
}