.error {
    position: relative;
    top: 0px;
    background-color: #F2DEDE;
    color: black;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
}

#FPemail {
    position: relative;
    bottom: 70px;
    right: -2px;
    height: 30px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin: 6px 0;
    padding: 14px;
}

#forgetpassword {
    height: 1000px;
}

#FPcontent {
    position: relative;
    left: 550px;
    top: 100px;
    text-align: center;
    height: 450px;
    ;
    width: 450px;
    border-radius: 10px;
    border: solid rgba(107, 107, 107, 0.35) 1px;
}

#FPcontent #FPemail {
    position: relative;
    bottom: 90px;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: bold;
    margin: 30px 0 0;
}

#RTL {
    position: relative;
    text-align: center;
    right: 145px;
    bottom: 50px;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: bold;
    margin: 30px 0 0;
    color: #05a1a8;
}

#FPcontent button {
    position: relative;
    bottom: 130px;
    left: 60px;
    height: 50px;
    width: 300px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    background-color: #05a1a8;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}

@media (max-width:1118px) {
    #FPcontent {
        left: 300px;
    }
}

@media (max-width:944px) {
    #FPcontent {
        left: 190px;
    }
}

@media (max-width:860px) {
    #FPcontent {
        left: 150px;
    }
}